<div class="container mt-5">
    <h2>Enviar correo</h2>
    <p>Pedido no: {{idPedido}}</p>
    <form (ngSubmit)="contactForm(form.value)" #form="ngForm">
        <div class="form-group">
            <label>Asunto</label>
            <input class="form-control" type="text" name="asunto" ngModel>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="text" name="email" ngModel>
        </div>
        <div class="form-group">
            <label>Mensaje</label>
            <input class="form-control" type="text" name="mensaje" 
            ngModel>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>